.nav__logo{
	display:inline-block;
	
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  color: var(--primary-text-color);
  text-decoration: none;
	vertical-align: sub;



	

}
.nav__logo--blue {
	color: $accent-color;
}